body {
    padding: 5vh 5vw;
    background-size: cover;
}

.top-row {
    display: flex;
    background-color: rgba(254, 254, 254, 0.7);
    opacity: 100%;
    padding: 2vh 2vw;
    border-radius: 1vh;
}

.top-row .menu {
    margin-top: 6vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    opacity: 100%;
}

.menu .item {
    margin-bottom: 20px;
    font-size: 3vh;
    cursor: pointer;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 60vw;
    opacity: 100%;
}

.about-me .points {
    display: flex;
}

.about-me .point {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    border-left: 1px solid;
    border-right: 1px solid;
    align-self: baseline;
    font-weight: 900;
}

.picture {
    width: 20vw;
    opacity: 100%;
}

.about-me .bio {
    font-size: medium;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3vh;
}