/* These styles are now in style.css */

.middle {
    margin-left: 0;
}

.middle ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
    /* Remove any default margin */
}

.middle li {
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    /* Indent list items */
}

.middle h2 {
    margin-top: 2rem;
    font-weight: bold;
    /* Makes headers bold */
}

#chat-button-container {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

#name {
    font-weight: bold;
    font-size: 1.5rem;
}