.container {
    display: flex;
}

.left-panel {
    width: 25vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-panel {
    padding: 2rem;
}

.avatar {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    /* Prevents distortion */
}

.third-party-sm {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
}

.sm-click img {
    width: 2.5vw;
    /* Reduced size */
    height: 2.5vw;
    /* Reduced size */
}

.middle {
    margin-left: 0;
}

.middle ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
    /* Remove any default margin */
}

.middle li {
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    /* Indent list items */
}

.middle h2 {
    margin-top: 2rem;
    font-weight: bold;
    /* Makes headers bold */
}

#chat-button-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

#name {
    font-weight: bold;
    font-size: 1.5rem;
}