.top-row .menu {
    margin-top: 8vh;
    margin-right: 5px;
    width: 13vw;
    display: flex;
    flex-direction: column;
}

.menu .item {
    margin-bottom: 20px;
    font-size: 3vh;
    cursor: pointer;
}

.menu .third-party-sm {
    display: flex;
}

.third-party-sm a {
    height: 2em;
    width: 2em;
    margin: 0 10px 0 0;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.third-party-sm img {
    width: 100%;
    height: 100%;
}

.middle {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 60vw;
}

.middle .title {
    font-size: xx-large;
}

.about-me {
    padding: 1vh 3vw;
}

.about-me .points {
    display: flex;
}

.about-me .point {
    font-size: large;
    padding: 15px;
    border-left: 1px solid;
    border-right: 1px solid;
    align-self: baseline;
    font-weight: 900;
}

.avatar {
    height: 20vw;
    width: 20vw;
}

.about-me .bio {
    font-size: medium;
    font-weight: lighter;
    margin-top: 3vh;
}

.four-oh-four {
    height: 60vh;
}

.certifications {
    background-color: rgba(254, 254, 254, 0.5);
    backdrop-filter: grayscale(0.4);
    display: flex;
    flex-direction: column-reverse;
    padding-top: 3vw;
    border-radius: 0 0 1vh 1vh;
}

.cert {
    display: flex;
}

.cert .badge {
    padding: 10px;
    margin: 20px;
    width: 30vh;
    background-color: white;
    border: solid 2px white;
    border-radius: 50%;
}

.cert .about {
    margin-left: 5vw;
    width: 45vw;
}

.blog {
    display: flex;
    background-color: rgba(254, 254, 254, 0.5);
    backdrop-filter: grayscale(0.4);
}

.blog .wordcloud {
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    height: 20vw;
    padding: 10px;
    margin-top: 3vw;
}

.wordcloud span {
    padding: 5px;
}

.blog .posts {
    display: flex;
    flex-direction: column-reverse;
}

.blog .posts .post-item {
    border-bottom: 1px solid black;
    margin-right: 3vw;
}