@media screen and (min-width: 0px) and (max-width: 1024px) {
    .cert .badge {
        display: none;
    }

    .cert .about {
        display: flex;
        flex-wrap: wrap;
        margin: 5vw;
        width: 100%;
    }
}