@media screen and (min-width: 0px) and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .left-panel {
        width: 100%;
        padding: 1rem;
    }
    
    .right-panel {
        width: 100%;
        padding: 1rem;
        min-height: 60vh; /* Ensures space for chat button */
    }

    .middle ul {
        margin-left: 0;
    }

    .middle li {
        margin-left: 1rem;
        /* Slightly less indentation on mobile */
    }

    .middle {
        margin-left: 0;
    }

    .middle h2 {
        font-weight: bold;
    }

    #currently-reading a {
        margin-left: 1rem;
        /* Match mobile list item indentation */
    }

    #chat-button-container {
        position: fixed; /* Fixed position on mobile */
        bottom: 2rem;
        right: 2rem;
    }

    .avatar {
        width: 30vw;
        height: 30vw;
    }
}