@media screen and (min-width: 0px) and (max-width: 1024px) {

    .middle ul {
        margin-left: 0;
    }

    .middle li {
        margin-left: 1rem;
        /* Slightly less indentation on mobile */
    }

    .middle {
        margin-left: 0;
    }

    .middle h2 {
        font-weight: bold;
    }

    #currently-reading a {
        margin-left: 1rem;
        /* Match mobile list item indentation */
    }
}