@media screen and (min-width: 0px) and (max-width: 800px) {
    .avatar {
        display: none;
    }

    .third-party-sm {
        width: 100%;
        justify-content: space-around;
    }

    .third-party-sm .sm-click {
        height: 3em;
        width: 3em;
    }

    .third-party-sm img {
        width: 100%;
        height: 100%;
    }
}