body {
    padding: 5vh 5vw;
    background-size: contain;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 1.3;
    color: black;
    background-color: white;
}

.left-panel {
    display: flex;
    background-color: rgba(254, 254, 254, 0.5);
    backdrop-filter: grayscale(0.6);
    padding: 2vh 2vw;
    border-radius: 1vh 1vh 0 0;
    margin-top: 2vh;
}

.four-oh-four {
    height: 60vh;
}

.white-background {
    background-color: white;
}